@model List<QuizFolio.Models.FormResponse>

<h2>Form Responses</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Submitted At</th>
            <th>Template</th>
            <th>Respondent</th>
            <th>Answers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var response in Model)
        {
            <tr>
                <td>@response.Id</td>
                <td>@response.SubmittedAt.ToLocalTime()</td>
                <td>@response.Template?.Title</td>
                <td>@response.Respondent?.FullName</td>
                <td><pre>@response.AnswersJson</pre></td>
            </tr>
        }
    </tbody>
</table>
