@model QuizFolio.Models.Template

@{
    ViewData["Title"] = Model.Title;
}

<body class="bg-light">
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Title</h1>
            </div>
            <div class="card-body">
                <h5>@Model.Description</h5>
                <h5>Created by: @Model.Creator.UserName</h5>
            </div>
        </div>
        <h3>Questions</h3>
        <div class="list-group">
            @if (Model.Questions != null && Model.Questions.Any())
            {
                foreach (var question in Model.Questions)
                {
                    <div class="list-group-item">
                        <h5>@question.QuestionTitle <span class="text-danger fw-bolder">@(question.IsRequired ? "*" : "")</span></h5>
                        @switch (question.QuestionType)
                        {
                            case QuizFolio.Models.QuestionType.Text:
                                <input type="text" class="form-control" placeholder="Enter text" />
                                break;
                            case QuizFolio.Models.QuestionType.Dropdown:
                                <select class="form-select" name="@question.Id">
                                    <option value="">Select an option</option> <!-- Optional placeholder -->
                                    @foreach (var option in question.Options)
                                    {
                                        <option value="@option.Option">@option.Option</option>
                                    }
                                </select>
                                break;
                            case QuizFolio.Models.QuestionType.Radio:
                                @foreach (var option in question.Options)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="@question.Id" value="@option.Option">
                                        <label class="form-check-label">@option.Option</label>
                                    </div>
                                }
                                break;
                            case QuizFolio.Models.QuestionType.Checkbox:
                                @foreach (var option in question.Options)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="@question.Id" value="@option.Option">
                                        <label class="form-check-label">@option.Option</label>
                                    </div>
                                }
                                break;
                            case QuizFolio.Models.QuestionType.Email:
                                <input type="text" class="form-control" placeholder="Enter email address" />
                                break;

                            default:
                                <p>Question type not supported.</p>
                                break;
                        }
                    </div>
                }
            }
            else
            {
                <p>No questions available.</p>
            }
        </div>

        <div class="row">
            <a asp-controller="Template" asp-action="AllTemplate" class="col-2 btn-sm btn-primary">Back to Templates</a>
            <div class="form-group col-10">
                <button type="submit" class="btn-sm btn-success">Submit Response</button>
            </div>
        </div>
</body>